@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Farro:wght@300;400;500;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Lobster+Two:wght@400;700&family=Montserrat:wght@400;500&family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&family=Satisfy&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

html {
  background: white;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background: white;
}

.navBar {
  display: flex;
  align-items: center;
  height: 5.038rem;
  border-bottom: 1px solid #fafafa;
  background-color: #fff;
  gap: 5.5rem;
  justify-content: space-between;
  padding: 0 11rem;
}

.main-span {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.Bookstore-CMS {
  width: 15rem;
  height: 2.313rem;
  color: #0290ff;
  font-family: 'Lao', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: normal;
  white-space: nowrap;
}

.Oval {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.813rem;
  height: 2.813rem;
  border: solid 1px #ac9d9d;
  border-radius: 50px;
}

.fa-user {
  color: #0290ff;
}

.links {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-left: 0;
  gap: 1rem;
}

.link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  transition: 1s;
}

.link:hover {
  border-bottom: 1px solid rgb(235, 219, 4);
  color: crimson;
}

.link:focus {
  font-weight: bold;
}

.displayContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
  margin: auto;
  margin-top: 4em;
}

.displayBooks {
  display: flex;
  border: 1px solid #e8e8e8;
  padding: 1em 1rem;
  justify-content: space-between;
  background: #fff;
}

.book {
  width: 7rem;
  height: 1.125rem;
  margin: 0 4rem 0 0;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  white-space: nowrap;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.book-auth {
  margin: 0.3rem 0;
  color: #4386bf;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  margin-top: 0;
}

.book-title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  margin: 0;
  color: rgb(85, 84, 84);
}

.new-book {
  font-weight: bold;
  font-size: 1.4rem;
  color: #888;
  margin: 0.4rem 0;
}

.cur-chap {
  opacity: 0.5;
  font-family: "Roboto Slab", sans-serif;
  font-size: 0.813rem;
  color: #888;
}

.chap {
  opacity: 0.5;
  font-family: "Roboto Slab", sans-serif;
  font-size: 0.813rem;
}

.removeBtn {
  display: block;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: "Roboto Slab", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.removeBtn:hover {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 1px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin-top: 1rem;
}

.formContainer {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  border-top: 1px solid #e8e8e8;
  margin-top: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.div2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.div-b {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Oval-2 {
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 6px;
  border-radius: 4rem;
  color: #307bbe;
  border: solid 5px #307bbe;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span-a {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

.span-b {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
}

.div-c {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  font-weight: bold;
}

.prog-btn {
  width: 80%;
  background: #0290ff;
  color: #fafafa;
  height: 2rem;
  font-family: 'Roboto Slab', sans-serif;
  border: none;
  border-radius: 5px;
  margin-top: 1.3rem;
}

.select {
  width: 20%;
  border: 1px solid #e8e8e8;
  padding-left: 0.8rem;
  color: #979595;
}

.input {
  background: rgb(250, 249, 249);
  border: 1px solid #e8e8e8;
  height: 2rem;
  width: 30%;
  padding-left: 0.8rem;
  font-weight: bold;
  color: #e8e8e8;
}

.submitBtn {
  border: none;
  border-radius: 5px;
  white-space: nowrap;
  width: 20%;
  background: #0290ff;
  color: white;
  font-weight: bold;
}

.vl {
  height: 1.8rem;
  background: #cac7c7;
  border: solid 1px #e8e8e8;
}

.vll {
  background: #cac7c7;
  height: 4.375rem;
  margin-top: 1.8rem;
  border: solid 1px #e8e8e8;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boot {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.statusBtn {
  border: none;
  border-radius: 5px;
  margin: 5rem;
  height: 3em;
  white-space: nowrap;
  width: 8rem;
  align-self: center;
  background: #0290ff;
}

.statusBtn:hover,
.submitBtn:hover {
  color: whitesmoke;
  background: rgb(76, 97, 102);
}
